body{
  
    font-family: 'Indie Flower', cursive;
    opacity: 0.9;
    background-color: #03071e;
    font-weight: 700;
    
    
  }
  
  header{
   /* color: rgb(155, 173, 192); */
   text-align: center;
   
  
  
   
  }
  
  div{
      text-align: center;
      
  }
  section{
      border-radius: 10px;
      padding-top: 45px;
      padding-bottom: 50px ;
      width: 500px;
      margin: auto;
      background-color: #edf2f4;
      
  
  }
  
  footer{
      color: rgb(25, 124, 211);
      text-align: center;
      font-style: italic;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      
  }
  
  h1{
     color: #ffe1a8;
    /* -webkit-text-stroke: 1px #db222a; */
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
     text-transform: uppercase;
  }